<div class="wrapper">
  <div class="main_title">
    <%= @page_title %>
  </div>  

  <div id="content" class="content content-blog">
    <% @posts.each do |post| %>
      <div class="post block-white">
        <div class="post_thumbnail">
          <%= image_tag post.thumbnail.url(:thumb) %>
        </div>
        <div class="post_content">
          <div class="post_text">
            <div class="post_title">
              <%= link_to post.title, post %>
            </div>
            <div class="post_text">
              <%= raw post.description %>
            </div>
          </div>
          <div class="post_meta">
            <div class="post_meta_item">
              <div class="post_item_icon post_item_icon-like"></div>

              <span class="disqus-comment-count" data-disqus-url="post.url">First article</span>
              
              <div class="post_item_label">
                <div class="social-likes social-likes_single" data-url="<%= post_url(post) %>" data-title="Title page http://example.ru" data-single-title="people like it">
                  <div class="facebook" title="Share on facebook">Facebook</div>
                  <div class="twitter" title="Share on twitter">Twitter</div>
                  <div class="vkontakte" title="Share on vk">Vkontakte</div>
                  <div class="plusone" title="Share on Google +">Google+</div>
                </div>  
              </div>
            </div>
            <div class="post_meta_item">
              <div class="post_item_icon post_item_icon-tag"></div>
              <div class="post_item_label"><%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Render sidebar -->
  <%= render '/sidebar/resolver' %>
</div>
