<div class="main_title">Latest posts</div>  
<div id="content" class="content content-blog">
  <% @posts.each do |post| %>
    <div class="post block-white">
      <div class="post_thumbnail">
        <%= image_tag post.thumbnail.url(:thumb) %>
      </div>
      <div class="post_content">
        <div class="post_text">
          <div class="post_title">
            <%= link_to post.title, post %>
          </div>
          <div class="post_text">
            <%= raw post.body %>
          </div>
        </div>
        <div class="post_meta">
          <div class="post_meta_item">
            <div class="post_item_icon post_item_icon-like"></div>
            <div class="post_item_label">
              <div class="social-likes social-likes_single" data-url="<%= post_url(post) %>" data-title="Title page http://example.ru" data-single-title="people like it">
                <div class="facebook" title="Share on facebook">Facebook</div>
                <div class="twitter" title="Share on twitter">Twitter</div>
                <div class="vkontakte" title="Share on vk">Vkontakte</div>
                <div class="plusone" title="Share on Google +">Google+</div>
              </div>  
            </div>
          </div>
          <div class="post_meta_item">
            <div class="post_item_icon post_item_icon-tag"></div>
            <div class="post_item_label"><%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- Render sidebar -->
<%= render '/sidebar/resolver' %>


<!--     <% if user_signed_in? %>
      Signed in
    <% end %>
  
    <% if current_page?(root_path) %> 
      <button class="new_post"><%= link_to "New post", new_post_path %></button>
    <% elsif current_page?(about_path) %>
      about
    <% else %>
      <%= link_to "Back to all posts", root_path %>
    <% end %>
    
    <% if !user_signed_in? %>
      Log in
    <% end %>
    
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert") %>
    <% end %> -->
