<div class="wrapper">
  <div class="main_title">
    <%= @page_title %>
  </div>  

  <div id="content" class="content content-blog">
    <% @posts.each do |post| %>
      <div class="post block-white">
        <div class="post_thumbnail">
          <%= image_tag post.thumbnail.url(:thumb) %>
        </div>
        <div class="post_content">
          <div class="post_text">
            <div class="post_title">
              <%= link_to post.title, post %>
            </div>
            <div class="post_text">
              <%= raw post.description %>
            </div>
          </div>
          <div class="post_meta">
            <div class="post_meta_item">
              <%= render 'disqus_count' %>
              <div class="post_item_icon post_item_icon-like"></div>
              <div class="post_item_label disqus-comment-count" data-disqus-identifier="<%=post.id%>"></div>
            </div>
            <div class="post_meta_item">
              <div class="post_item_icon post_item_icon-tag"></div>
              <div class="post_item_label"><%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Render sidebar -->
  <%= render '/sidebar/resolver' %>
</div>
