<div class="wrapper row">

  <div id="content" class="content col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <% @posts.each do |post| %>
      <div class="post block-white">
        <div class="post_category">CSS</div>
        <div class="post_thumbnail">
          <%= image_tag post.thumbnail.url(:thumb) %>
        </div>
        <div class="post_content">
          <div class="post_text">
            <div class="post_title">
              <%= link_to post.title, post %>
            </div>
            
            <div class="post_meta">
              <% post.tag_list.each do |tag| %>
                <div class="post_meta_item post_meta_item-tag">
                  <%= link_to tag_path(tag) do %>
                    <div class="post_item_icon post_item_icon-tag"></div>
                    <div class="post_item_label"><%= raw tag %></div>
                  <% end %>
                </div> 
              <% end %>
            </div>
            
            <div class="post_text">
              <%= raw post.description %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Render sidebar -->
  <%= render '/sidebar/resolver' %>
</div>
